/*
@File: Merk Template Styles

* This file contains the styling for the actual template, this
is the file you need to edit to change the look of the
template.

This files table contents are outlined below>>>>>

*******************************************
*******************************************



/*================================================
Default CSS
=================================================*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700&family=Poppins:wght@400;500;600;700;800&display=swap');
:root {
    --titleFont: 'IBM Plex Sans KR', sans-serif;
    --paragraphFont: 'Mulish', sans-serif;
    --font-color: #395064;
    --black-color: #102537;
    --icon-color: #17334A;
    --white-color: #ffffff;
    --blue: #0054A9;
    --background-color: #F9F9F9;
    --nevy-blue: #17334A;
    --title-color: #17334A;
}
html{
	padding: 0;
	margin: 0;
    overflow-x:hidden; 
}
body{
	font-family: var(--paragraphFont);
    font-size: 18px;
    overflow-x:hidden; 
}
button:focus {
    outline: none;
    box-shadow:none;
    border-color: #ced4da;
}
.btn.focus, .btn:focus {
    outline: 0;
    box-shadow:none;
}
.form-control:focus {
    outline: none;
    box-shadow:none;
    border-color: #ced4da;
}
.form-select{
	box-shadow: none !important;
	outline: none !important;
	border: none !important;
}

.sticky-menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
}

.sticky {
	left: 0;
    margin: auto;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 7%);
    -webkit-animation: fadeInDown .5s ease-in-out 0s 1 normal none running;
    animation: fadeInDown .5s ease-in-out 0s 1 normal none running;
    background: #fff;
    z-index: 999;
	
	.main-nav nav .navbar-nav .nav-item {
		position: relative;
	}
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-70px);
    transform: translateY(-70px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-70px);
    transform: translateY(-70px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

img {
	max-width: 100%;
	height: auto;
}
h1,h2,h3,h4,h5,h6{
	margin: 0 0 17px;
	padding: 0;
    font-family: var(--font-color);
    margin-top: -4px;
    font-weight: 400;
    color: var(--title-color);
    font-family: var(--titleFont);
}
h1{
    font-size: 62px;
    line-height: 72px;
    font-weight: 600;
}
h2{
    font-size: 52px;
    font-weight: 600;
}
h3{
    font-size: 36px;
}
h4{
    font-size: 24px;
}
h5{
    font-size: 20px;
    font-weight: 600;
}
p{
	font-size: 18px;
	margin-bottom: 15px;
    line-height: 1.8;
    color: var(--font-color);
}
p:last-child {
	margin-bottom: 0;
}
button{
    border: none;
    transition: all 0.6s;
}
a{
	text-decoration: none;
	color: var(--blackColor);
	transition: all 0.6s;
}
a:hover{
	text-decoration: none;
	color: var(--blackColor);
}
.table{
    margin-bottom: 0;
}
.mt-120{
    margin-top: 120px;
}
.mb-120{
    margin-bottom: 120px;
}
.mb-0 {
    margin-bottom: 0;
}
.mb-30 {
    margin-bottom: 30px;
}

.pt-50 {
    padding-top: 50px;
}
.pt-210{
    padding-top: 210px;
}   
.pb-140{
    padding-bottom: 140px;
}
.pt-150 {
    padding-top: 150px;
}
.pt-120{
	padding-top: 120px;
}
.pb-120{
	padding-bottom: 120px;
}
.pt-60{
	padding-top: 60px;
}
.pb-60{
	padding-bottom: 60px;
}

.pb-250 {
    padding-bottom: 250px;
}

.pb-220 {
    padding-bottom: 220px;
}

.gotopbtn {
    position: fixed;
    width: 40px;
    height: 40px;
    background: var(--home1-main-color);
    bottom: 30px;
    right: 30px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    cursor: pointer;
    z-index: 10000;
    visibility: hidden;
    opacity: 0;
	transition: 0.5s;
    i {
        color: var(--white-color);
    }
}
.gotopbtn.active {
    visibility: visible;
    opacity: 1;
    border: 2px solid var(--greenColor);
}
.custom-card{
    transition: all 0.7s;
}

ul{
    margin-bottom: 0;
    padding-left: 0;

    li{
        list-style: none;
    }
}
/*================================================
Buttons
=================================================*/
button{
    border: none;
    transition: all 0.7s;
}

.cta-btn{
    position: relative;
    font-size: 16px;
    padding: 12px 30px;
    border-radius: 5px;
    display: inline-block;
    background: var(--blue);
    color: var(--white-color);
}
.cta-btn:hover{
    color: var(--white-color);
}

/*================================================
Home 1
=================================================*/
#home1-header{
    .mean-container .mean-nav ul li a.active{
        color:  #21CDC0;
    }
    .main-nav {
        nav .navbar-nav .nav-item a:hover, 
        nav .navbar-nav .nav-item a.active {
            color:  #21CDC0;
        }
    }

    .top-menu {
        background: var(--nevy-blue);
        padding: 10px 100px;
    
        .home1-top-menu-ul {
            margin: 10px 0 8px;
        }
    }
}
.main-nav{
    position: relative;
    .mobile-logo{
        display: none;
    }
}

.header-area{
    .reactangle-blue-btn, .default-btn, .home2-hover-btn{
        position: relative;
        top: -3px;
    }
    .default-btn{
        padding: 12px 20px;
    }
    .top-menu{
        background: var(--nevy-blue);
        padding-top: 20px;
        padding-left: 100px;
        padding-right: 100px;
        .support-btn{
            background: var(--white-color);
            color: var(--black-color);
            border-radius: 5px;
            padding: 15px 25px;
            margin-top: 0px;
            margin-bottom: 10px;
        }

        ul{
            display: flex;
            padding-left: 0;
            li{
                display: inline-block;
                list-style: none;
            }
        }

        .home1-top-menu-ul{
            float: right;
            margin-bottom: 18px;
            li{
                color: rgb(187, 185, 185);
                i{
                    margin-right: 7px;
                }
                span{
                    color: var(--white-color);
                    margin-right: 15px;
                }
            }
            li:first-child{
                margin-right: 50px;
            }
        }
    }
    .right-menu{
        margin-top: 0px;
        margin-right: 0 !important;
        margin-left: 10px;
        .cta-btn{
            padding: 12px 30px !important;
            color: var(--white-color) !important;
        }
    }
    .navbar-nav{
        margin-left: auto;
        margin-right: 0;
    }
    .language{
        display: inline-flex;
        img{
            width: 18px;
            height: 18px;
            margin-bottom: -9px;
        }
        .form-select-1{
            width: 65px;
            font-size: 16px;
            font-weight: bold; 
            padding: .375rem 0px .375rem 6px;    
        }
    }
}
.hero-mobile-view{
    display: none;
}

.hero-section{

    .hero-title-wrap {
    margin-bottom: 20px;
    }

    padding-top: 68px;
    .hero-title {
        background-position: left 58px;
    }
    .text-box{
        margin: {
            top: 80px;
            bottom: 80px
        };
        padding: {
            top: 40px;
            bottom: 40px;
        };
        position: relative;
        margin-right: -300px;
        background-color: rgba(255, 255, 255, 0.863);
        border-radius: 20px;
        z-index: 2;

        .text{
            h1{
                margin: 15px 0 20px;
            }
            .cta-button{
                margin-top: 35px;
            }
            .upper-text{
                position: relative;
                margin-bottom: 15px;
                &::before{
                    content: "";
                    position: absolute;
                    width: 5px;
                    height: 20px;
                    background: var(--blue);
                    left: 0;
                    top: 3px;
                }
                .p1{
                    font-weight: 600;
                    color: var(--blue);
                    font-size: 16px;
                    margin-left: 20px;
                    font-family: var(--titleFont);
                }
            }
        }
    }
    .hero-image{
        position: relative;
        border-radius: 0 0 20px 0;
        background: {
            size: cover;
            position: center;
            repeat: no-repeat;
            image: url(../images/hero/1.jpg);
            border-radius: 0 0 20px 0
        };

        height: 100%;
        img{
            display: none;
        }

        .scroll-down{
            background-color: rgba(255, 255, 255, 0.699);
            width: 140px;
            height: 140px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 30px;
            border-radius: 20px 0 10px 0;
            position: absolute;
            right: 0;
            bottom: -30px;
            z-index: 0;
            i{
                font-size: 30px;
                color: var(--blue);
                cursor: pointer;
            }
        }
    }
}
// .hero-section{
//     .content{
//         position: relative;
//         display: flex;
//         .text-box{
//             max-width: 50%;
//             background-color: rgba(255, 255, 255, .8);
//             padding: 40px 40px 40px 0;
//             border-radius: 20px;
//             position: absolute;    
//             left: 0;
//             top: 48%;
//             transform: translateY(-40%);
//             z-index: 9;
//             .text{
//                 opacity: 100%;
//                 .upper-text{
//                     position: relative;
//                     margin-bottom: 15px;
//                     &::before{
//                         content: "";
//                         position: absolute;
//                         width: 5px;
//                         height: 20px;
//                         background: var(--blue);
//                         left: 0;
//                         top: 3px;
//                     }
//                     .p1{
//                         font-weight: 600;
//                         color: var(--blue);
//                         font-size: 16px;
//                         margin-left: 20px;
//                         font-family: var(--titleFont);
//                     }
//                 }
//                 h1{
//                     margin-bottom: 20px;
//                 }
//                 p{
//                     font-size: 18px;
//                 }
//             }
//         }
//         .left-img{
//             max-width: 80%;
//             position: relative;
//             left: 30%;
//             right: 0;
//             z-index: -9;
//         }
//     }
// }
.company-logo-section{
    h5{
        font-size: 18px;
        text-align: center;
        font-weight: bold;
    }

    .company-logo{
        align-items: center;
        .logo-img{
            img{
                margin: 0 30px;
                width: fit-content;
            }
        }
    }
    .logo{
        ul{
            display: flex;
            justify-content: space-between;
        }
    }
}
.why-mevencode{
    background-color: var(--background-color);
    position: relative;

    .dot-shape{
        position: absolute;
        right: 0;
        top: 0;
    }
    .cards{
        .mevencode-card{
            background-color: var(--white-color);
            border-radius: 20px;
            padding: 20px;       
            transition: all 0.4s;     
            .icon{
                background-color: #F9F9F9;
                width: 60px;
                height: 60px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 30px;
                border-radius: 10px;
                i{
                    font-size: 30px;
                    color: var(--blue);
                }
            }
            h5{
                margin-bottom: 15px;
            }
        }
        .mevencode-card:hover{
            box-shadow: 5px 15px 25px #dfdddda9;
        }
    }
}
.approach-section{
    background-color: var(--white-color);
    h2 {
        max-width: 852px;
    }
    .cards{
        .mevencode-card{
            background: transparent;
            border: 1px solid #E6E9ED;
        }
    }
}
.growing-company-section{
    h2{
        max-width: 850px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
    .growing-company{
        align-items: center;
        .logo-img{
            img{
                margin: 0 30px;
                width: fit-content;
            }
        }
    }
}

.footer-section{
    position: relative;
    &.bg-colored {
        padding-top: 50px;
        background-color: var(--background-color);        
    }
    .contact-section{
        .contact-box{
            //clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            background-image: url(../images/blue-box.png) center center no-repeat;
            width: 100%;
            background: var(--nevy-blue);
            padding: 70px 30px;
            text-align: center;
            border-radius: 16px 16px 16px 16px;
            box-shadow: 0px 15px 30px #1c32471f;
            z-index: 0;
            position: relative;
            z-index: 9;
            margin-bottom: 100px;
            height: 100%;
            h2{
                color: var(--white-color);
                margin-bottom: 30px;
            }
        }
    }
    ul{
        display: flex; 
        align-items: center; 
        position: relative;
        z-index: 9;
        li{
            margin: 0 15px;
            &:last-child {
                margin-right: 0;
            }
            a{
                font-weight: 600;
                font-family: var(--paragraphFont);
                font-size: 16px;
                color: var(--title-color);
            }
        }
        .social-items{
            li{
                height: 48px;
                width: 48px;
                border-radius: 50%;
                background: var(--white-color);
                line-height: 48px;
                text-align: center;
                transition: all 0.5s;
                margin: 0 5px;
            }
            li:hover{
                background: var(--blue);
                transition: all 0.5s;
                a{
                    i{
                        color: var(--white-color);
                        transition: all 0.5s;
                    }
                }
            }
        }
    }
    .main-ul{
        justify-content: space-between;
    }
}

div.form-group {
    position: relative;
    margin-bottom: 60px;

    label {
       position: absolute;
       padding: 0 0 10px;
       display: flex;
       font-size: 16px;
       top: 0;
       left: 0;
       transition: all 0.2s;
       transform-origin: 0% 0%;
       background: none;
       color: #4E6151; 
    }

    .map-marker {
        position: absolute;
        right: 0;
        bottom: 15px;
    }

    input {
        width: 100%;
        border-width: 0 0 1px 0 !important;
        outline: none !important;
        padding-bottom: 10px;
    }
}


div.form-group input:valid + label,
div.form-group.focused input + label,
div.form-group input:focus + label {
    transform: scale(0.9) translateY(-25px);
    color: #038d81 !important;
}

div.form-group input:focus {
    border-bottom-color: #09B986;
}

div.form-group input:focus + label {
    color: #09B986;
    font-size: 14px;
}


.copyright-section{
        
    text-align: center;
    .copyright-text{
        border-top: 1px solid #5475856b;
    }
    p{
        padding: 20px 0 15px;
        margin-bottom: 0;
        font-size: 14px;
        color: #33546F;
    }
}
.product-service-section{
    position: relative;
    overflow: hidden;
    
    .product-service-wrap {
        position: relative;
    }
    .middle-bar{
        height: 100%;
        width: 4px;
        position: absolute;
        top: 0;
        border-radius: 6px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 0;
        background-color: #E6E9ED;
    }

    .progress-indicator {
        display: inline;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 3;
        transition: 0.3s;
    }

    h2{
        max-width: 645px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
    .text-content{
        max-width: 450px;
        margin-bottom: 80px;
        h3{
            margin-bottom: 30px;
        }
    }
    .img-content{
        max-width: 560px;
        margin-left: auto;
        margin-right: 0;
        position: relative;
        margin-bottom: 80px;

        .shape-img{
            position: absolute;
            left: -30px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .img-content-2{
        margin-bottom: 0;
    }

}

.product-service-wrap {
    &.fixed-bg {
        .progress-indicator {
            position: fixed;
            top: 200px;
        }
    }

    &.stopped-train {
        .progress-indicator {
            position: absolute;
            top: auto;
            bottom: -35px;
        }
    }
}

//use case page
.use-case-hero-section{
    padding-top: 200px;
    .use-case-content{
        .title{
            text-align: center;
            padding: 0 90px;
            .hero-title {
                background-position: left 52px;
            }
        }
    }
    .images{
        position: relative;
        display: flex;
        justify-content: space-between;
        .img-1{
            max-width: 195px;     
            position: absolute;
            max-width: 195px;     
            position: absolute;
            bottom: 0;
        }
        .img-2{
            max-width: 138px;     
            position: absolute;
            bottom: -100px;
        }
        .img-3{
            max-width: 142px;     
            position: absolute;
            bottom: -100px;     
        }
        .img-4{
            max-width: 192px;     
            position: absolute;
            bottom: -100px;        
        }
        .img-5{
            max-width: 195px;     
            position: absolute;
            bottom: -100px;       
        }
    }
}
.retail-section{
    background: var(--background-color);

    .left-img-content{
        max-width: 500px;
    }
    .right-text-content{
        margin-left: 10px;
    }
    .single-row{
        margin-bottom: 50px;
    }
    .left-content{
        h3{
            margin-bottom: 25px;
        }
        .retail-cards{
            margin-top: 40px;
            .retail-card{
                padding: 0 40px 0 0;
                
                .icon{
                    background-color: #fff;
                    width: 60px;
                    height: 60px;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 30px;
                    border-radius: 10px;
                    i{
                        font-size: 30px;
                        color: var(--blue);
                    }
                }
                h5{
                    margin-bottom: 15px;
                }
                
            }
        }
        .img-1{
            max-width: 90%;
            box-shadow: 5px 15px 30px #969494;
            border-radius: 15px;
        }
    }
    .right-content{
        max-width: 645px;
        margin-left: auto;
        margin-right: 0;
        .p-text{
            margin: 30px 0;
        }
    }
}
.training-main-nav{
    background: transparent;
    box-shadow: none;
    nav .navbar-nav .nav-item a {
        color: var(--white-color);
    }
    .cta-btn{
        background: var(--white-color);
        color: var(--font-color);
    }
}

.training-hero {
    padding-top: 200px;
}

.training-hero-section{
    margin-bottom: 68px;
    position: relative;

    .page-content-inner {
        width: 100%;
        padding: 30px 20px 30px 30px;
        max-height: 85vh;
        overflow-y: auto;

        .profile-form {
            max-width: 319px;

            .form-field-author {
                display: flex;
                align-items: center;
                margin-bottom: 40px;

                .author-img-upload {
                    position: absolute;
                    z-index: 10;
                    width: 35px;
                    height: 35px;
                    right: 4px;
                    bottom: 2px;
                    background: #0054A9;
                    border: 2px solid #ffffff;
                    border-radius: 50%;

                    label img {
                    padding: 8px;
                    }
                }
                .author-img-wrap [type="file"] {
                    display: inline-block;
                    z-index: 1;
                    opacity: 0;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 35px;
                    height: 35px;
                }
                            }

            .form-group {
                margin-bottom: 50px;
                position: relative;

                .author-img-wrap {
                    position: relative;
                    margin-right: 40px;
                }
                .btn-primary {
                    color: #fff;
                    background-color: #0054A9;
                    border-color: #0054A9;
                    border-radius: 8px;
                    font-size: 16px;
                    font-weight: 700;
                    height: 50px;
                    margin-top: 10px;
                }
            }

            .form-group {
                margin-bottom: 22px;
                label {
                    position: initial;
                    font-family: var( --titleFont );
                    font-weight: 600;
                }

                input {
                    border: 1px solid #B0C4CE;
                    border-width: 1px 1px !important;
                    border-radius: 8px;
                    padding: 9px 12px;
                    color: #17334A;
                    font-size: 18px;
                    font-weight: 700;
                    font-family: var( --titleFont );
                }

                .password-visible {
                    position: absolute;
                    right: 15px;
                    bottom: 10px;
                    width: 30px;
                    height: 30px;
                    background-image: url(../images/eye.svg);
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                }

                .password-visible.password-hide {
                    background-image: url(../images/eye-invisible.svg);
                    width: 27px;
                    height: 27px;
                }
            }
        }
    }

    &.dashboard-hero {
        .hero-content {
            h2 {
                color: #ffffff;
                font-size: 58px;
                background-position: left 54px;
            }
        } 
    }
    &:not(.dashboard-hero) {
        .hero-title-wrap {
            max-width: 550px;
            margin: 0 auto;
            text-align: center;
        } 
    }
    
    .shape{
        position: absolute;
        bottom: 100px;
        left: 0;
        z-index: 9;
    }
    .btn-outline-success {
        color: var(--icon-color);
        background: var(--white-color);
        border-color: none;
    }
    .me-2 {
        margin-right: 0!important;
    }
    .search-bar{
        .btn-outline-success {
            border-radius: 0 6px 6px 0;
            border-color: var(--white-color);
        }
        .btn i {
        font-size: 24px;
        }
    }
    .bar{
        border: 0;
        border-radius: 6px 0 0 6px;
        padding: 18px 5px 18px 28px;
    }
    h2{
        color: var(--title-color);
        font-weight: 500;
    }
    .dropdown-modal{
        display: inline-block;
        .drp-btn{
            background: var(--white-color);
            padding: 18px 33px;
            color: rgb(23 51 74 / 50%);
            border-radius: 8px;
            position: relative;
            font-size: 16px;
            font-weight: 600;
            min-width: 298px;
            text-align: left;
            border: 1px solid #E6E9ED;
            }
        ul{
            width: 100%;
            li{
                a {
                    padding-left: 30px;
                }
            }
        }
        .left-drpdown{
            ul{
                li{
                    padding-left: 80px;
                }
            }
        }
        span{
            margin-left: 20px;
            i{
                color: var(--blue);
            }
        }
    }
    .text-content{
        position: relative;
        .row{
            margin-bottom: 127px;
        }
    }
    .text-content-inner{
        display: flex;
        justify-content: space-between;
        margin-top: 140px;
    }
    .p-text{
        margin-bottom: 100px;
    }
    .search-bar{
        max-width: 308px;
        right: 0;
        bottom: -50px;
        form{
            border: 1px solid #E6E9ED;
            border-radius: 8px;
        }
    }
    .button{
        text-align: center;
    }
    .all-cards{
        .single-card{
            box-shadow: 5px 10px 20px #e9e9e99c;
            border-radius: 15px;
            margin-bottom: 30px;
            p{
                color: var(--font-color);
                font-size: 16px;
            }
            .text-content{
                padding: 25px 12px;
                .review{
                    display: flex;
                    justify-content: space-between;
                    margin: 15px 0;
                    h5{
                        font-size: 18px;
                    }
                    span{
                        font-weight: 500;
                        font-size: 16px;
                        i{
                            color: #FFC107;
                        }
                    }
                    .name{
                        font-weight: 800;
                    }
                }
            }
        }
    }
}

.training-hero-section .search-bar input::placeholder {
    color: rgba(23, 51, 74, 0.5);
    opacity: 1; /* Firefox */
}

.training-hero-section .search-bar input:-ms-input-placeholder {
    color: rgba(23, 51, 74, 0.5);
}

.training-hero-section .search-bar input::-ms-input-placeholder {
    color: rgba(23, 51, 74, 0.5);
}


.service-hero-section{
    text-align: center;
    padding: 180px 0 50px;
    .hero-title {
        background-position: left 51px;
    }
    p {
        margin-top: 20px;
    }
}
.feature-section{
    clip-path: polygon(0 14%, 12% 0, 100% 0, 100% 100%, 0 100%, 0% 50%);

    background-color: var(--background-color);
    .content{
        padding: 0 0;
        
        .text-content{
            h3{
                margin-bottom: 20px;
            }
            .all-cards{
                margin-top: 40px;
                .sngle-card{
                    padding: 15px;
                    background: var(--white-color);
                    margin-bottom: 30px;
                    border-radius: 16px;
                    ul{
                        display: flex;
                        li{
                            display: inline-block;
                            p{
                                font-size: 16px;
                            }
                        }
                        li:last-child{
                            margin-left: 20px;
                        }
                        i{
                            padding: 10px;
                            background: var(--white-color);
                            color: #00CCFF;
                            border-radius: 50%;
                            box-shadow: 1px 5px 15px rgba(211, 210, 209, 0.418);
                        }
                    }
                }
                .sngle-card:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }

    .content-2{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        
        .img-part{
            margin-left: 40px;
        }
        .second-row{
            margin-top: 120px;
            .img-part-2{
                margin-left: 0;
            }
        }
    }
}
.feature-section-2{
    clip-path: polygon(0 0, 100% 0, 100% 88%, 89% 100%, 0 100%, 0% 50%);

}
.feature-section-3{
    background: var(--white-color);
}
.feature-section-4{
    clip-path: polygon(0 83%, 0 0, 100% 0, 100% 100%, 90% 100%, 9% 100%);

}
.about-hero-section{
    position: relative;
    padding-top: 180px;
    &::before{
        content: "";
        background-color: var(--background-color);
        width: 100%;
        height: 65%;
        top: 0;
        left: 0;
        position: absolute;
        z-index: -9;
    }
    p {
        margin-top: 20px;
    }

    .text-content {
        padding-top: 50px;
    }
}
.mission-section{
    .text-content{
        margin-right: 50px;
        h2{
            margin-bottom: 25px;
        }
    }
    img{
        border-radius: 20px;
        border: 10px solid var(--white-color);
        box-shadow: 15px 15px 30px rgba(206, 204, 204, 0.329);
    }
}
.story-section{
    position: relative;
    &::before{
        content: "";
        background-color: var(--background-color);
        width: 100%;
        height: 70%;
        top: 0;
        left: 0;
        position: absolute;
        z-index: -9;
    }
    .shape-1{
        position: absolute;
        bottom: 30%;
        left: 0;
    }
    .text-content{
        max-width: 863px;
        left: 50%;
        transform: translateX(-50%);
        justify-content: center;
        position: relative;
        margin-bottom: 60px;
        h3{
            margin-bottom: 25px;
            font-weight: 600;
        }
    }
    .img-content{
        max-width: 760px;
        left: 50%;
        transform: translateX(-50%);
        justify-content: center;
        position: relative;

        .shape-2{
            position: absolute;
            right: -100px;
            top: -30px;
            z-index: -9;
        }
    }
}

.hero-title {
    background-image: linear-gradient( #0054a94d, #0054a94d );
    background-size: 100% 10px;
    background-repeat: no-repeat;
    background-position: left 51px;
    display: inline;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    &.hero-title-light {
        background-image: linear-gradient(#ffffff36, #ffffff3d);
    }
}

.blog-hero-section{

    .hero-title-wrap {
        margin-bottom: 20px;
    }
    position: relative;
    &::before{
        content: "";
        clip-path: polygon(0 0, 100% 0, 100% 85%, 86% 100%, 0 100%, 0% 50%);

        background-color: var(--background-color);
        width: 60%;
        height: 75%;
        top: 12%;
        left: 0;
        position: absolute;
        z-index: -9;
    }
    .text-content{
        margin-right: 10px;
        h2{
            margin-bottom: 25px;
        }
    }
    .img-content{
        position: relative;
        .shape-1{
            position: absolute;
            right: -70px;
            top: -50px;
            z-index: -9;
        }
        .img-1{
            margin-right: 50px;
            top: 50px;
            border: 10px solid var(--background-color);
            box-shadow: 10px 15px 30px rgba(209, 205, 198, 0.575);
            border-radius: 20px;
        }
    }
}
.related-training-section{
    margin-bottom: 30px;
}
.blog-cards{
    padding-bottom: 90px;
    .drp-btn{
        padding: 11px 20px;
        border: none;
        line-height: 1;
    }
    .filter-s{
        select{
            padding: 8px 50px 8px 15px;
            background: transparent !important;
            border: 1px solid #E6E9ED;
            text-align: left;
        }
    }
    .navtab-option{
        .dropdown-menu[style] {
            left: auto!important;
            right: 0 !important;
        }
        .dropdown-menu.show {
            border-radius: 6px;
            border: none;
            box-shadow: 0 5px 5px rgba(212, 212, 211, 0.568);
            
        }
        .sin-nav{
            display: flex;
            flex-wrap: nowrap;
            margin-bottom: 25px;
            margin-left: 24px;
        }
        .nav-item{
            display: block;
            white-space: nowrap;
            background-color: #F0F3F5;
            border-radius: 5px;
            font-weight: 500;
            font-size: 16px;
            .nav-link {
                line-height: 1;
                padding: 10px 0;
                border: 1px solid #E6E9ED;
                text-align: center;
                &.active {
                    border-color: #0d6efd;
                }
                
            }
        }
        .nav-item-filter{
            background-color: transparent;
            border: 1px solid #E6E9ED;
            position: relative;
            text-align: left !important;
            margin-left: auto;
            margin-right: 0 !important;
            .nav-link {
                padding: 12px 20px;
                
            }
            .icon{
                position: absolute;
                content: "";
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
                color: #0054A9;
                z-index: -1;
            }
        }
    }
    .single-card{
        border-radius: 10px;
        box-shadow: 5px 15px 20px rgba(223, 223, 223, 0.63);
        margin-bottom: 30px;
        .text-content{
            padding: 20px 15px;

            .upper-content{
                margin-bottom: 20px;
                span{
                    font-size: 16px;
                }
                .design{
                    margin-right: 20px;
                    font-weight: 600;
                    color: #00CCFF;
                }
            }
            h5{
                font-size: 18px;
                margin-bottom: 12px;
            }
            p{
                font-size: 16px;

                span{
                    font-size: 16px;
                    font-weight: 700;
                    color: #0054A9;
                }
            }
        }
    }
}

.tags-scroller {
    .owl-nav {
        button {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 23px;
            baseline-shift: 36px;
            height: 102%;
            i {
                font-size: 16px;
                color: #999;
            }

            &:hover {
                i {
                    color: var(--blue);
                }
            }

            &.owl-prev {
                left: -30px;
            }

            &.owl-next {
                right: -30px;
            }
        }
    }
    
}


.blog-details-hero-section{
    text-align: center;
    padding-top: 200px;
    h3{
        margin: 20px 0;

    }
    span, h3, p{
        color: var(--title-color);
    }
    .views{
        margin-left: 20px;
    }

    .hero-title-wrap {
        text-align: center;
        max-width: 1024px;
        margin: 24px auto 30px;
    }
}

.careers-hero-section {
    text-align: center;
    padding-top: 200px;
    .hero-title-wrap {
        padding-top: 15px;
    }
    .views{
        margin-left: 20px;
    }
}

.contact-section {
    max-width: 1100px;
    margin: 60px auto;
}

.contact-form-wrapper {
    background: #fff;
    box-sizing: border-box;
    border-radius: 16px;
    position: relative;
    padding: 60px 100px;
    &:after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -25px;
        z-index: -1;
        background: rgba(3, 30, 6, 0.28);
        filter: blur(131px);
        width: 70%;
        height: 80px;
        transform: translateX(-50%);
    }

    button {
        background: var(--blue);
        border-radius: 8px;
        min-width: 166px;
        text-align: center;
        height: 46px;
        color: #fff;
        text-align: center;
        &:hover {
            background: #064c93;
        }
    }
}


@media (max-width: 767px) {
    .contact-form-wrapper {
        padding: 50px;
    }
}

.careers-section {
    ul li {
        margin-bottom: 15px;
        list-style: disc;
        margin-left: 17px;
        padding-left: 6px;
    }
}


.second-section{
    .text{
        max-width: 764px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        justify-content: center;
        h3, h4{
            margin-bottom: 15px;
        }
    }
    .main-ul{
        
        ul{
            display: flex; 
            align-items: center; 
            position: relative;
            z-index: 9;
            justify-content: space-between;
            li{
                margin: 0 15px;
                span{
                    color: #C1C3C9;
                }
                a{
                    font-weight: 700;
                }
            }
            .social-items{
                li{
                    height: 48px;
                    width: 48px;
                    border-radius: 50%;
                    background: var(--white-color);
                    line-height: 48px;
                    text-align: center;
                    transition: all 0.5s;
                    margin: 0 5px;
                    box-shadow: 1px 5px 10px rgba(207, 207, 205, 0.411);
                }
                li:hover{
                    background: var(--blue);
                    transition: all 0.5s;
                    a{
                        i{
                            color: var(--white-color);
                            transition: all 0.5s;
                        }
                    }
                }
            }
        }
    }
    img{
        max-width: 764px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        justify-content: center;
        margin: 60px 0;
    }
    .img-2{
        max-width: 864px;
    }
    .text-box{
        padding: 30px;
        background-color: #EEF7FE;
        border-radius: 20px;
        h5{
            margin-bottom: 10px;
        }
        p:last-child{
            margin-bottom: 0;
        }
    }
    .quote{
        h5{
            margin-bottom: 15px;
        }
        span{
            font-size: 18px;
            font-weight: 600;
            float: right;
            margin-top: 10px;
        }
    }
    
}
.career-hero-section{
    position: relative;
    background: url(../images/career/1.jpg) center center no-repeat;
    width: 100%;
    .text{
        h2, h5, span{
            color: var(--white-color);
        }
        h5{
            margin: 15px 0 20px;
            font-weight: 600;
        }
        span{
            margin: 15px 0 20px;
            i{
                color: #FFC107;
                margin: 0 10px;
            }
        }
    }

    .hero-title-wrap {
        max-width: 980px;
        margin: 0 auto;
    }
}

.career-cards{
    position: relative;
    margin-top: -7%;
    z-index: 9;
    .single-card{
        padding: 40px 25px;
        text-align: center;
        background-color: white;
        border-radius: 12px;
        box-shadow: 1px 5px 15px rgba(212, 212, 210, 0.397);
        height: 100%;
        i{
            margin-bottom: 20px;
            font-size: 36px;
            color: #33546F;
        }
    }
}

.career-details-section{
    .give-review{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        h4{
            margin-bottom: 0;
        }
    }
    .img-vdo{
        position: relative;
        .icon{
            width: 36px;
            height: 36px;
            border-radius: 50%;
            background: transparent;
            border: 2px solid var(--white-color);
            position: absolute;
            left: 50%;
            top: 35%;
            transform: translate(-50%);
            display: inline-flex;
            align-items: center;
            justify-content: center;
            i{
                font-size: 16px;
                color: var(--white-color);
            }
        }
    }
    .text-content{
        .grp{
            margin-bottom: 40px;
            h4{
                margin-bottom: 20px;
            }
            .hh{
                margin-bottom: 0;
            }
            h5{
                margin-bottom: 13px;
            }
            .p{
                margin-bottom: 30px;
            }
            .career-lesson{
                .video-card{
                    h6{
                        margin: 20px 0 10px;
                    }
                    p{
                        font-size: 13px;
                    }
                }
            }
            ul{
                li{
                    color: var(--font-color);
                    margin-bottom: 12px;
                }
            }

            .per-comment{
                margin-bottom: 40px;
                .ratings{
                    display: flex;
                    justify-content: space-between;

                    span{
                        font-size: 18px;
                        color: #FFC107;
                        margin: 0 5px;
                    }
                }
            }
        }
        .grp-3{
            position: relative;
            .timing{
                color: var(--white-color);
                position: absolute;
                bottom: 10px;
                right: 10px;
                font-size: 12px;
            }
            .owl-nav{
                display: inline-block;
                position: absolute;
                top: -45px;
                right: 0;
            }
            .owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next{
                color: var(--font-color);
                font-size: 16px;

            }
            .owl-carousel .owl-nav button.owl-prev{
                margin-right: 50px;
            }
            .owl-carousel .owl-nav button.owl-prev:hover, .owl-carousel .owl-nav button.owl-next:hover{
               color: #00CCFF;
            }
        }
    }
    .enrol-card{
        padding: 40px;
        border-radius: 12px;
        box-shadow: 1px 5px 15px rgba(224, 223, 220, 0.705);
        margin-bottom: 30px;
        h4{
            margin-bottom: 25px;
        }
        .button{
            .cta-btn{
                width: 100%;
            }
        }
    }
    .profile-card{
        padding: 30px;
        background: var(--background-color);
        border-radius: 12px;
        .name{
            text-align: center;
        }
        .dp{
            max-width: 140px;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            justify-content: center;
            margin: 20px 0;
            border-radius: 15px;
        }
        span{
            font-size: 14px;
        }
        h5{
            margin: 0 0 10px;
        }
        ul{
            display: flex;
            justify-content: center;
            margin: 10px 0 0;
            li{
                display: inline-block;
                margin: 0 20px;

                i{
                    color: var(--title-color);
                }
            }
        }
    }
}
.related-training-section{
    .related-content{
        border-top: 1px solid #bbc8ce8f;
    }
    h4{
        margin-bottom: 20px;
    }
}
.second-section .text {
    ul{
        li{
            margin-bottom: 15px;
        }
    }
}
.dashboard-body{
    .container-fluid{
        padding: 0 15px;
    }
    .left-col{
        background-color: #F9F9F9;
        padding: 0;
    }
    .left-content{
        padding-top: 30px;
        // position: fixed;
        ul{
            li{
                padding: 14px 0;
                position: relative;
                padding-left: 25px;
            }
            li:hover{
                background: #0055a925;

                &::before{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 8px;
                    height: 55px;
                    background: #0055a9;
                }
            }
        }
    }
    .right-content{
        padding-top: 30px;
        h3{
            margin-bottom: 20px;
        }
        .hero-content{
            padding: 100px 0px;

            h5, span{
                color: var(--white-color);
            }
            h5{
                margin: 20px 0 15px;
            }
            span{
                i{
                    color: #FFC107;
                    margin: 0 10px;
                }
            }
        }
    }
    .career-details-section{
        .grp{
            margin-top: 40px;
            p{
                color: var(--font-color);
            }
        }
        .video-card{
            p{
                color: var(--font-color);
            }
        }
    }
}

.dashboard-header {
    .sticky {
        animation: none;
    }
}

.dashboard-hero{
    padding-top: 90px;

    .container-fluid {
        padding: 0 50px 0 0;
    }

    .sidebar__inner {
        .left-bar {
            .nav {
                height: 100%;
            }
        }
    }

    .sign-out {
        margin-top: auto;
        &:hover {
            color: var(--blue);
        }
    }

    .fade:not(.show) {
        opacity: 0;
        display: none;
    }
    .text-content{
        .grp-3{
            margin-top: 30px;
        }
    }
    p{
        color: var(--font-color);
    }
    .main-content{
    

        .career-video{
            display: inline-block;
        }
    }
    .all-cards{
        padding-top: 30px;
    }
    .left-bar{
        padding-top: 30px;
        background: #EAE8E8;
        height: 100%;
        width: 22.5%;
        margin-right: 20px;
        .nav-link {
            border-radius: 0;
            background: transparent;
            text-align: left;
            padding-left: 30px;
            padding-top: 12px;
            padding-bottom: 12px;
            font-weight: 500;
            transition: 0.3s;
            position: relative;
            margin-bottom: 6px;
            &::before {
                content: "";
                position: absolute;
                width: 5px;
                height: 51px;
                left: 0;
                top: 0;
                background: #0054A9;
                opacity: 0;
                transition: 0.3s;
            }
            &:hover, &.active {
                background: #0055a91a;
                position: relative;
                color: var(--font-color);

                &::before{
                    opacity: 1;
                }
            }
        }
    }
    .profile-content {
        // display: inline-block !important;
        // .career-video{
        //     display: inline-block !important;
        // }
        .hero-content{
            padding: 100px 50px;
            background: url(../images/career/1.jpg) center center no-repeat;

            h5, span{
                color: var(--white-color);
            }
            h5{
                margin: 20px 0 15px;
            }
            span{
                i{
                    color: #FFC107;
                    margin: 0 10px;
                }
            }
        }
    }
    .give-review{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        h4{
            margin-bottom: 0;
        }
    }
}

.dashboard-nav{
    .container-fluid {
        padding: 0 30px;
    }
    .profile{
        a{
            font-weight: 500;
        }
        img{
            width: 45px;
            height: 45px;
            border-radius: 50%;
            margin-left: 10px;
        }
    }
}
.review-modal{
    h4{
        font-weight: 600;
    }
    .modal-header {
        padding:30px ;
        border-bottom: 0;
    }
    .modal-footer {
        border-top:0;
        padding: 0 13px 30px ;
    }
    .modal-body {
        text-align: center;

        .rating {
            display: inline-flex;
            margin-top: -10px;
            flex-direction: row-reverse;

            input {
                display: none;
            }
            input:checked~label{
                &:before {
                opacity: 1;
            }
            }
            label {
                    position: relative;
                    font-size: 20px;
                    color: #FFC107;
                    cursor: pointer;
                    margin-right: 3px;
                &::before {
                    content: "\f005";
                    position: absolute;
                    opacity: 0;
                    font-family: 'FontAwesome';
                }
            }
        }


        // span{
        //     position: relative;
        //     left: 37%;
        //     transform: translateX(-50%);
        //     justify-content: center;
        //     i{
        //         color: #E6E9ED;
        //     }
        // }
        .comment{
            margin-top: 20px;
            textarea{
                height: 250px;
            }
        }
    }
    .cta-btn{
        width: 100%;
    }
}
.enrol-modal{
    .modal-header{
        padding: 30px 30px 0;
    }
    .login-logo{
        text-align: center;

        p{
            margin-top: 15px;
            font-family: var(--titleFont);
            font-weight: 500;
        }
    }
    .login-form{
        .cta-btn{
            width: 100%;
            margin:20px 0;

            img{
                margin-right: 10px;
            }
            background: transparent;
            border: 1px solid #E6E9ED;
            color: var(--font-color);
        }
        span{
            text-align: center;
        }
        input{
            height: 52px;
            margin: 10px 0;
            border: 1px solid #E6E9ED;
        }
        .password{
            position: relative;
            margin-bottom: 40px;
            i{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 20px;
            }
            .forget-pass{
                position: absolute;
                right: 0;
                font-size: 12px;
                color: #33546fa4;
            }
        }
        p{
            text-align: center;
        }
    }
}

.nav-item-filter .select2-container .select2-selection--single .select2-selection__rendered {
    padding: 0 17px;
}

.nav-item-filter .select2-container .select2-selection--single {
    height: 40px;
}

.nav-item-filter .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 40px;
}

.nav-item-filter .select2-container--default .select2-selection--single {
    background-color: transparent;
    border: 0;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #0d6efd;
}

.select2-container--open .select2-results__options {
    overflow: hidden;
    border-radius: 3px;
}

.select2-container--open .select2-search--dropdown .select2-search__field {
    display: none;
}

.select2-container--open .select2-results__option--selected {
    background-color: #ddd;
}

.select2-container--open .select2-dropdown {
    background-color: white;
    border: 0;
    border-radius: 4px;
    margin-top: 4px;
    box-shadow: none;
}

.select2-container--open .select2-results__option {
    font-size: 16px;
    padding: 8px 17px;
}

.select2-container--default * {
    outline: none !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    position: initial;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    display: none;
}

.select2-container--default .select2-selection--single .select2-selection__arrow:before {
    content: "\f078";
    font-family: "Font Awesome 6 Free";
    position: absolute;
    right: 17px;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 600;
    transition: 0.3s;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow:before {
    content: "\f077";
}

.more-items .select2-container {
    max-width: 100px;
    min-width: 100px;
}

.select2-container--open .select2-dropdown {
    min-width: 190px;
}

.nav-item-filter .select2-container {
    min-width: 235px;
}